body, header, footer {
    background-color: black;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 200px;
    padding-right: 200px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

h1 {
    font-weight: normal;
    font-size: 50px; 
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

#footer {
    text-align: right;
}

.grey_para {
    color: grey;
}